.main-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-navbar {
  width: 270px;
  height: 100%;
  flex-shrink: 0;
}

.content-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}
