.seperator {
  margin: 1.75rem 0;
  border: 1px solid var(--color-navbar-foreground-not-selected);
}

.logout {
  padding: 0.4rem;
  transition: background-color 0.3s ease-out;
}

.logout:hover {
  cursor: pointer;
  background-color: white;
}
