<div>
  <div class="lg:hidden fixed z-40 p-4 bg-navbar-background text-white w-full flex justify-between">
    <button type="button" (click)="toggleMobileMenu()" class="top-4 left-4">
      <i-lucide [img]="Icons.Menu" size="24" />
    </button>
    <h2 class="text-white font-bold text-2xl cursor-pointer" (click)="navigateToHome()">CloudGuard</h2>
    <i-lucide [img]="Icons.Shield" size="30" class="text-primary" />
  </div>
</div>

@if (isMobileMenuOpen()) {
<div class="fixed inset-0 bg-black/60 z-40 lg:hidden transition-opacity" (click)="closeMobileMenu()">
</div>
}

<nav class="h-dvh min-h-0 flex flex-col bg-navbar-background p-5
         fixed inset-y-0 left-0 z-50 w-72 transform transition-transform duration-300 ease-in-out
         lg:relative lg:translate-x-0" [class.-translate-x-full]="!isMobileMenuOpen()"
  [class.translate-x-0]="isMobileMenuOpen()">

  <div class="flex items-center justify-between gap-4 pb-4 px-4 shrink-0">
    <div class="flex items-center gap-4">
      <i-lucide [img]="Icons.Shield" size="30" class="text-primary" />
      <h2 class="text-white font-bold text-2xl cursor-pointer" (click)="navigateToHome()">CloudGuard</h2>
    </div>

    <button type="button" (click)="closeMobileMenu()" class="lg:hidden text-muted-foreground hover:text-white">
      <i-lucide [img]="Icons.X" size="24" />
    </button>
  </div>

  <div class="mb-4">
    <app-language-bar />
  </div>

  <div class="flex-1 min-h-0 overflow-y-auto overscroll-contain navbar-scroll">

    @if (filteredSecurityItems().length > 0) {
    <span class="text-muted-foreground font-medium text-sm px-4 tracking-wider">SECURITY</span>
    <ul class="flex flex-col gap-2 pt-2">
      @for (item of filteredSecurityItems(); track item.Label) {
      <app-nav-item (click)="closeMobileMenu()" [Route]="item.Route" [Icon]="item.Icon"
        [Label]="item.Label | transloco"></app-nav-item>
      }
    </ul>
    <div class="seperator"></div>
    }

    @if (filteredControlItems().length > 0) {
    <span class="text-muted-foreground font-medium text-sm px-4 tracking-wider">{{ 'control' | transloco }}</span>
    <ul class="flex flex-col gap-2 pt-2">
      @for (item of filteredControlItems(); track item.Label) {
      <app-nav-item (click)="closeMobileMenu()" [Route]="item.Route" [Icon]="item.Icon"
        [Label]="(item.Label | transloco)"
        [BadgeCount]="item.Label==='accounts-manager' ? requestedCount() : 0"></app-nav-item>
      }
    </ul>
    <div class="seperator"></div>
    }

    @if (currentUser(); as user) {
    <div (click)="openProfilePopup($event)"
      class="min-h-18 group relative flex items-center justify-between px-3 py-2 rounded-xl cursor-pointer overflow-hidden mt-4">
      <div
        class="absolute inset-0 bg-gray-50/15 opacity-0  group-hover:opacity-100 group-has-[.logout-zone:hover]:opacity-0 transition-opacity pointer-events-none">
      </div>

      <div class="relative z-10 flex items-center gap-3 min-w-0 ">
        <div class="w-10 h-10 shrink-0 rounded-full bg-primary flex items-center justify-center overflow-hidden">
          @if (user.pictureUrl && !profileImageError()) {
          <img [src]="user.pictureUrl" alt="" class="w-full h-full object-cover" (error)="profileImageError.set(true)" />
          }
          @if (!user.pictureUrl || profileImageError()) {
          <span class="text-white text-lg">{{ getInitials(user) }}</span>
          }
        </div>

        <div class="flex flex-col min-w-0">
          <span class="text-white truncate font-medium leading-tight">{{ user.firstName }} {{ user.lastName }}</span>
          <span class="text-muted-foreground truncate text-sm leading-tight">{{ getRoleName(user) |
            transloco
            }}</span>
        </div>
      </div>

      <div class="relative z-10 shrink-0 ml-4">
        <div (click)="openLogoutDialog($event)"
          class="logout-zone p-2 rounded-md logout transition-colors cursor-pointer">
          <i-lucide [img]="Icons.LogOut" size="20" class="text-muted-foreground" />
        </div>
      </div>
    </div>
    } @else {
    <div class="min-h-18 flex items-center justify-between px-3 pt-2 mt-4">
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 rounded-full bg-muted animate-pulse"></div>
        <div class="flex flex-col gap-1">
          <div class="h-4 w-24 bg-muted rounded animate-pulse"></div>
          <div class="h-3 w-16 bg-muted rounded animate-pulse"></div>
        </div>
      </div>
      <div class="shrink-0 ml-4">
        <div (click)="openLogoutDialog($event)" class="logout rounded-md">
          <i-lucide [img]="Icons.LogOut" size="20" class="text-muted-foreground cursor-pointer" />
        </div>
      </div>
    </div>
    }
  </div>
</nav>


@if (profilePopupOpen()) {
<div class="profile-overlay" (click)="closeProfilePopup()">
  <div class="profile-popup-container" (click)="$event.stopPropagation()">
    <app-profile (closed$)="closeProfilePopup()"></app-profile>
  </div>
</div>
}
