<div class="px-10 py-6">
    <app-page-header Title="Licenties & Billing Overzicht"
        Description="Monitor uw Google Workspace licentiegebruik en kosten" AdminLink="billing/subscriptions" />

    <div class="w-full flex flex-col gap-5 pt-6">
        <div class="w-full flex gap-4">
            <app-section-top-card class="flex-1" Title="Totaal licenties" [Value]="100" [Icon]="Icons.Users" />
            <app-section-top-card class="flex-1" Title="Maandelijkse kosten" [Value]="960" BackgroundColor="#f3e8ff"
                IconColor="#9810fa" [Icon]="Icons.CreditCard" [IsCurrency]="true" />
            <app-section-top-card class="flex-1" Title="Mogelijke besparing" [Value]="312.5" BackgroundColor="#dbfce7"
                IconColor="#00a63e" TextColor="#00a63e" [Icon]="Icons.TrendingDown" [IsCurrency]="true" />
            <app-section-top-card class="flex-1" Title="Gebruikerspercentage" [Icon]="Icons.DollarSign" [Value]="75"
                [IsPercentage]="true" BackgroundColor="#fef9c2" IconColor="#d69518" />
        </div>

        @if (hasCostsSaved() && !isLoading()){
        <div class="bg-green-50 border border-green-200/50 rounded-lg p-4 transition-all duration-200">
            <div class="flex items-start justify-between cursor-pointer group" (click)="toggleExpanded()">
                <div class="flex gap-3 items-center">
                    <i-lucide [img]="Icons.TrendingDown" size="20" class="text-green-600" />
                    <span class="text-green-800 font-medium text-[16px]">
                        Kostenbesparing Mogelijkheid
                    </span>
                </div>

                <i-lucide [img]="isExpanded() ? Icons.ChevronUp : Icons.ChevronDown" size="20"
                    class="text-emerald-600 opacity-70 group-hover:opacity-100 transition-opacity" />
            </div>

            @if (isExpanded()) {
            <div class="flex flex-col gap-2 mt-3 ml-8">
                <div class="flex gap-2 items-center">
                    <span class="text-[13px] text-emerald-700">
                        Door ongebruikte licenties te verwijderen kunt u €312.50 per maand besparen (€3750.00 per
                        jaar).
                    </span>
                </div>
            </div>
            }
        </div>
        }

        @if (!isLoading()) {


        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-7xl mx-auto">
            <div class="bg-white p-6 rounded-2xl shadow-sm border border-gray-100 flex flex-col h-90">
                <h2 class="text-lg font-medium text-gray-900 mb-6 px-4">
                    Licentie Gebruik per Type
                </h2>

                <div class="grow">
                    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
                    </canvas>
                </div>
            </div>

            <div class="bg-white p-6 rounded-2xl shadow-sm border border-gray-100 flex flex-col h-90">
                <h2 class="text-xl font-medium mb-6 px-4">
                    Kosten verdeling (later)
                </h2>

                <div class="relative grow flex items-center justify-center">

                    <div class="w-2/3 h-2/3">
                        <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" [type]="pieChartType">
                        </canvas>
                    </div>

                    <div class="absolute top-[5%] left-[35%] text-sm font-medium  text-orange-600">
                        {{ pieChartData.labels?.[2] }}
                    </div>

                    <div class="absolute top-[50%] right-[0%] text-sm font-medium text-blue-600">
                        {{ pieChartData.labels?.[0] }}
                    </div>

                    <div class="absolute bottom-[50%] left-[10%] text-sm font-medium text-emerald-600">
                        {{ pieChartData.labels?.[1] }}
                    </div>

                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg pt-6 border-2 border-muted/50">
            <div class="flex justify-between items-center mx-5.5">
                <span class="font-medium text-lg">Licentie Types Overzicht</span>
                <!-- <button (click)="refreshData()" [disabled]="isRefreshing()"
                    class="flex items-center gap-2 px-4 py-2 bg-white border border-gray-300 rounded-lg text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary disabled:opacity-50 disabled:cursor-not-allowed transition-colors shadow-sm">

                    <i-lucide [img]="Icons.RefreshCw" size="16" [class.animate-spin]="isRefreshing()">
                    </i-lucide>

                    {{ isRefreshing() ? 'Vernieuwen...' : 'Vernieuw Data' }}
                </button> -->
            </div>

            <table class="w-full text-left border-collapse mt-6">
                <thead>
                    <tr class="border-b border-t border-gray-200 bg-gray-50/50">
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Licentie Type</th>
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Totaal</th>
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Toegewezen</th>
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Beschikbaar</th>
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Prijs/Licentie</th>
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Totale Kosten</th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">
                    @for (license of licenseTypes(); track license.skuId) {
                    <tr class="hover:bg-gray-50 transition-colors">
                        <td class="px-6 py-4">
                            <span class="font-medium text-slate-900 text-sm">{{ license.skuName }}</span>
                        </td>

                        <td class="px-6 py-4">
                            <span class="text-slate-900 text-sm">{{ license.totalPurchased }}</span>
                        </td>

                        <td class="px-6 py-4">
                            <span class="text-slate-900 text-sm">{{ license.totalAssigned }}</span>
                        </td>

                        <td class="px-6 py-4">
                            <span class="font-medium text-orange-600 text-sm">{{ license.totalAvailable }}</span>
                        </td>

                        <td class="px-6 py-4">
                            <span class="text-slate-900 text-sm">€{{ license.pricePerLicense ?
                                license.pricePerLicense.toFixed(2) : '0.00'
                                }}</span>
                        </td>

                        <td class="px-6 py-4">
                            <span class="font-medium text-slate-900 text-sm">€{{ license.totalCosts?
                                license.totalCosts.toFixed(2) : '0.00' }}</span>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="bg-white rounded-lg pt-6 border-2 border-muted/50">
            <div class="mx-5.5 flex flex-col gap-1">
                <div class="flex gap-3 items-center">
                    <i-lucide [img]="Icons.TriangleAlert" size="20" class="text-orange-600" />
                    <span class="font-medium text-lg">Inactieve Gebruikers met Licenties
                        ({{inactiveUsers().length}})</span>
                </div>
                <span class="text-[13px] text-slate-600">Deze gebruikers hebben al meer dan 90 dagen niet
                    ingelogd</span>
            </div>

            @if (inactiveUsers().length > 0) {


            <table class="w-full text-left border-collapse mt-6">
                <thead>
                    <tr class="border-b border-t border-gray-200 bg-gray-50/50">
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Email</th>
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Laatste Login</th>
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Licentie Type</th>
                        <th class="px-6 py-4 text-xs font-medium text-gray-500 uppercase">Mogelijke Besparingen</th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">
                    @for (user of inactiveUsers(); track user.email) {
                    <tr class="hover:bg-gray-50 transition-colors">
                        <td class="px-6 py-4">
                            <span class=" text-sm">{{ user.email }}</span>
                        </td>

                        <td class="px-6 py-4">
                            <div class="flex items-center gap-2 text-sm">
                                <lucide-icon [img]="Icons.Clock" size="14"></lucide-icon>
                                {{ user.lastLogin }}
                            </div>
                        </td>

                        <td class="px-6 py-4">
                            <span class="text-xs bg-gray-100 py-1.5 px-2 rounded-lg text-slate-800">{{ user.licenseType
                                }}</span>
                        </td>

                        <td class="px-6 py-4">
                            <span class="font-medium text-green-500 text-sm">€0/maand</span>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            } @else {
            <div class="flex items-center justify-center p-5">
                <span class="text-lg font-medium text-slate-600">
                    Geen inactieve gebruikers met licenties gevonden!
                </span>

            </div>
            }
        </div>

        <div class="bg-white rounded-lg border-2 border-muted/50 pt-6 pb-6">
            <span class="font-medium text-lg px-6">Huidige Facturatieperiode</span>

            <div class="h-1 w-full border-t border-gray-200 mt-6 pb-4"></div>

            <div class="px-6 grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-7xl">
                <div class="flex flex-col gap-6">
                    <div class="flex gap-3 items-center">
                        <i-lucide [img]="Icons.Calendar" size="20" class="text-blue-600" />
                        <div class="flex flex-col gap-1">
                            <span class="text-[13px] text-slate-600 leading-tight">Periode</span>
                            <span class="text-[15px] font-medium leading-tight">01-02-2026 - 28-02-2026</span>
                        </div>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i-lucide [img]="Icons.CreditCard" size="20" class="text-green-600" />
                        <div class="flex flex-col gap-1">
                            <span class="text-[13px] text-slate-600 leading-tight">Totale kosten</span>
                            <span class="text-[15px] font-medium leading-tight">€960.00</span>
                        </div>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i-lucide [img]="Icons.CircleCheck" size="20" class="text-green-600" />
                        <div class="flex flex-col gap-1">
                            <span class="text-[13px] text-slate-600 leading-tight">Betalingsmethode</span>
                            <span class="text-[15px] font-medium leading-tight">Automatische incasso</span>
                        </div>
                    </div>
                </div>
                <div class="justify-end bg-gray-50 py-4 px-3 rounded-lg">
                    <span class="font-medium text-base">Billing Samenvatting</span>

                    <div class="flex justify-between pt-3">
                        <span class="text-[14px] text-slate-600">Vorige periode</span>
                        <span class="text-[14px] font-medium">€985.00</span>
                    </div>

                    <div class="flex justify-between pt-2.5">
                        <span class="text-[14px] text-slate-600">Huidige periode</span>
                        <span class="text-[14px] font-medium">€960.00</span>
                    </div>

                    <div class="flex justify-between pt-2.5">
                        <span class="text-[14px] text-green-600">Besparing</span>
                        <span class="text-[14px] text-green-600 font-medium">€25.00</span>
                    </div>

                    <div class="mt-2.5 border-t border-gray-200"></div>

                    <div class="flex justify-between pt-2.5">
                        <span class="text-[14px] text-slate-600">Year-to-date</span>
                        <span class="text-[14px] font-medium">€1945.00</span>
                    </div>

                    <div class="flex justify-between pt-4">
                        <span class="text-[14px] text-slate-600">Volgende factuurdatum</span>
                        <span class="text-[14px] font-medium">01-03-2026</span>
                    </div>
                </div>
            </div>
        </div>
        }@else {
        <div class="bg-white rounded-lg border-2 border-muted/50 flex gap-4 flex-col">

            <div class="flex flex-col items-center p-3">
                <div class="flex flex-col items-center space-y-4 p-8">
                    <div class="relative flex items-center justify-center">
                        <div class="h-12 w-12 rounded-full"></div>

                        <div
                            class="absolute h-12 w-12 animate-spin rounded-full border-4 border-primary border-t-transparent">
                        </div>
                    </div>

                    <span class="text-sm font-medium text-slate-600 animate-pulse">
                        Licenties worden geladen...
                    </span>
                </div>
            </div>
        </div>
        }
    </div>
</div>
